gradio[oauth]
requests
smolagents
smolagents[openai]
Wikipedia-API
pydub
pytubefix
langchain
pandas
Pillow
opencv-python
wikipedia-api
openai
langchain-openai
langchain-community
langchain-experimental
openpyxl
duckduckgo-search
mcp[cli]
langchain-mcp-adapters
